body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h3{
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container{
    border: solid red 2px;
    border-radius: .5em;
    padding: 3em
}

#grid {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

#grid img{
    width: 100px;
    height: 100px;
}